#banner{
  height: 30vh;
  background: linear-gradient(gray,white);
  text-align: center;
}

.titulo{
  margin-top: 100px;
}

span:hover{
  font-size: 80px;
  color: yellow;
}

#main{
  width: 80%;
  margin-top: 3em;
  margin-left: 10%;
  text-align: justify;
}

ul{
  list-style: none;
  display: flex;

}

#pie{
  margin-top: 50px;
  margin-left: 35%;
  text-align: center;
  width: 500px;
}
